.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
}
.box{
  border: 2px solid black;
  height: 5rem;
  width: 5rem;
}
.bgGreen{
  background-color: green;
}